[submodule "dawn"]
	path = dawn
	url = https://dawn.googlesource.com/dawn
[submodule "third_party/jinja2"]
	path = third_party/jinja2
	url = https://chromium.googlesource.com/chromium/src/third_party/jinja2
[submodule "third_party/markupsafe"]
	path = third_party/markupsafe
	url = https://chromium.googlesource.com/chromium/src/third_party/markupsafe
[submodule "third_party/shaderc"]
	path = third_party/shaderc
	url = https://github.com/google/shaderc
